# 파이참 설정파일을 버젼관리에서 제외한다.
# - *.iml 모든 iml확장자를 가진 파일 
# - /**/ 0개이상 n개의 하위 디렉토리를 모두 포함하는 표현식 /.idea, /a/b/c/d/.idea
/**/.idea/
/**/*.iml
/**/*.env

# Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd


# 구글 드라이브 숨긴파일 
/**/.tmp.drivedownload/
/**/.tmp.driveupload/

gympt/.env

__pycache__/
*.pyc