.blink-shadow {
    animation: flash-shadow 0.7s ease-out;
}

@keyframes flash-shadow {
    0% {
        box-shadow: 0 0 0px rgba(220, 53, 69, 0);
    }
    25% {
        box-shadow: 0 0 40px rgba(220, 53, 69, 0.6);
    }
    75% {
        box-shadow: 0 0 40px rgba(220, 53, 69, 0.6);
    }
    100% {
        box-shadow: 0 0 0px rgba(0, 0, 0, 0);
    }
}