<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #e3f2fd;" data-bs-theme="light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url "mainapp:main" %}">💪 Gym-PT</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>

            <ul class="navbar-nav mb-2 mb-lg-1">
                {% if user.is_authenticated %}
{#                {% if False %}#}
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-success" href="javascript:alert('My page 준비')">
                            <img src="{% if user.member.picture %}{{ user.member.picture.url }}{% else %}/media/profile/default.jpg{% endif %}" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url "mainapp:logout" %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item me-2">
                        <a class="btn btn-outline-success" href="{% url "mainapp:login" %}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-primary" href="{% url "mainapp:signup" %}">Sign up</a>
                    </li>
                {% endif %}

            </ul>
        </div>
    </div>
</nav>